<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @reply.place_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply.user.displayname %>
</p>

<p>
  <strong>Character:</strong>
  <%= @reply.character.name if @reply.character%>
</p>

<p>
  <strong>Body:</strong>
  <%= @reply.body %>
</p>

<%= link_to 'Edit', edit_region_place_reply_path(@region, @place, @reply) %> |
<%= link_to 'Back', region_place_path(@region, @place) %>
