<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @character.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<ul>
  <%@character.moods.each do |mood|%>
    <li>
    <%= image_tag mood.picture.url :large %>
    <h2><%= mood.name %></h2>
    <p><%= mood.description %></p>
    </li>
  <%end%>
</ul>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
